# Visual Studio / .NET
.vs/
bin/
obj/
packages/
*.user
*.suo

# Service Fabric build output
pkg/

# Node / frontend
node_modules/
dist/

# ENV FILES

.env
.env.*
!.env.example

# APP SETTINGS (sensitive config)

appsettings.json
appsettings.*.json
!appsettings.example.json